 <!-- Passbase API config keys-->
    <!-- Passbase API publishable API Key -->
    <add key="PassBasePublishableAPIKey" value="KM2WdUrTV2Nn3waxtPK1hdzVQ3S6EhLDuHczmqbuzroaoBJJ70ZKptmTNKCnVsJg"/>
    <add key="SecretKeyPassBaseAPI" value=""/>
    <add key="EnablePassBaseAPIVerification" value="true"/>